{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - eWebGame Store{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
         alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>

            <h2>Price and Availability</h2>
            <p>{{ product.price }}</p>
            <a href="{{ path('app_add', { 'id': product.id }) }}" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
{% endblock %}
