{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
     
<div class="container">

 <div class="mt-4"><h1>Créez votre compte</h1>

 {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password',
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.lastname, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.firstname, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.address, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.city, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.zipcode, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
    {{ form_row(registrationForm.agreeTerms, {
        row_attr: {'style': 'margin-bottom: 30px;'}
    }) }}
 
    <button type="submit" class="btn btn-danger">Register</button>
{{ form_end(registrationForm) }}

{% endblock %}
